*.retry
.idea
.history
.vscode
test__

## edgecraft
clusters/
clusters_kubeconfig/
clusters_monitoring/
cluster_upgrade/
clusters_paas_components/

kubeconfig

.DS_Store
22apps/.DS_Store
22apps/dev/.DS_Store
