# Kubernetes cluster configuration
#export KUBERNETES_VERSION=1.23.3
export KUBERNETES_VERSION=1.23.8+k3s2
export CONTROL_PLANE_MACHINE_COUNT=1
export WORKER_MACHINE_COUNT=1
export POD_CIDR=10.96.0.1/12
export SVC_CIDR=10.96.0.0/12

# OpenStack credentials configuration. No changes needed if you followed the README.
export OPENSTACK_CLOUD=openstack
#export OPENSTACK_CLOUD_CONFIG_SECRET_NAME=cloud-config
export OPENSTACK_CLOUD_YAML_B64="Y2xvdWRzOgogIG9wZW5zdGFjazoKICAgIGF1dGg6CiAgICAgIGF1dGhfdXJsOiBodHRwOi8vMTkyLjE2OC44OC4xMTo1MDAwL3YzLwogICAgICB1c2VybmFtZTogImVkZ2VjcmFmdCIKICAgICAgcGFzc3dvcmQ6ICJQYXNzMDAwMEAiCiAgICAgIHByb2plY3RfaWQ6IGIyNTcwZDEyZTcwOTQ5YjBhZDhiYmE0MTVlMDRiZjBhCiAgICAgIHByb2plY3RfbmFtZTogImVkZ2VjcmFmdC1zaW5nbGUiCiAgICAgIHVzZXJfZG9tYWluX25hbWU6ICJEZWZhdWx0IgogICAgcmVnaW9uX25hbWU6ICJSZWdpb25PbmUiCiAgICBpbnRlcmZhY2U6ICJwdWJsaWMiCiAgICBpZGVudGl0eV9hcGlfdmVyc2lvbjogMw=="
export OPENSTACK_CLOUD_PROVIDER_CONFIG_B64="W0dsb2JhbF0KYXV0aC11cmw9aHR0cDovLzE5Mi4xNjguODguMTE6NTAwMC92My8KdXNlcm5hbWU9ImVkZ2VjcmFmdCIKcGFzc3dvcmQ9IlBhc3MwMDAwQCIKdGVuYW50LWlkPSJiMjU3MGQxMmU3MDk0OWIwYWQ4YmJhNDE1ZTA0YmYwYSIKdGVuYW50LW5hbWU9ImVkZ2VjcmFmdC1zaW5nbGUiCmRvbWFpbi1uYW1lPSJEZWZhdWx0IgpyZWdpb249IlJlZ2lvbk9uZSIK"
export OPENSTACK_CLOUD_CACERT_B64="Cg=="

# OpenStack region and network configuration. External network ID is only needed if multiple external networks exist.
export OPENSTACK_EXTERNAL_NETWORK_ID="396da06f-3577-4e5c-9bda-b7400b917282"
export OPENSTACK_FAILURE_DOMAIN="nova"

# OpenStack machine conifugration
export OPENSTACK_IMAGE_NAME=ubuntu-20.04
export OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR=m1.medium
export OPENSTACK_NODE_MACHINE_FLAVOR=m1.medium
export OPENSTACK_SSH_KEY_NAME=hostacloud


## OPENSTACK_ROOTVOLUME_DISKSIZE는 GB 단위이다.
export OPENSTACK_ROOTVOLUME_DISKSIZE=20
export OPENSTACK_ROOTVOLUME_VOLUMETYPE="nfs"
export OPENSTACK_ROOTVOLUME_AVAILABILITYZONE="nova"

# OpenStack network configuration
export OPENSTACK_NETWORK_CIDR=10.6.0.0/24
export OPENSTACK_DNS_NAMESERVERS=168.126.63.1

# (optional) Containerd HTTP proxy configuration. Leave empty if not required.
#export CONTAINERD_HTTP_PROXY=""
#export CONTAINERD_HTTPS_PROXY=""
#export CONTAINERD_NO_PROXY=""


# (optional) Snap risk level and confinement
export SNAP_RISKLEVEL="stable"
export SNAP_CONFINEMENT="classic"

# Upgrade configuration
export UPGRADE_STRATEGY=SmartUpgrade
